* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../public/assets/bg-rocket.png");
  background-repeat: repeat;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
